<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <context-param>
        <param-name>ProductName</param-name>
        <param-value>Context Application</param-value>
    </context-param>

    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>com.pluralsight.SimpleServlet</servlet-class>
        <init-param>
            <param-name>ProductName</param-name>
            <param-value>Web Application name</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.pluralsight.ControllerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <location>/WEB-INF/errorpage.jsp</location>
    </error-page>

</web-app>